<%# locals: { placement_details: nil, action_link: nil } -%>
<%= govuk_summary_list(html_attributes: { id: "secondary_placements" }, actions: action_link.present?) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".subject")) %>
    <% row.with_value do %>
      <%= govuk_list do %>
        <% placement_details.dig("secondary_subject_selection", "subject_ids").each do |subject_id| %>
          <% if subject_id == AddHostingInterestWizard::UNKNOWN_OPTION %>
            <li><%= current_organisation.is_a?(Provider) ? t("organisations.placement_preferences.none_selected"): t(".unknown") %></li>
          <% else %>
            <li><%= placement_preference.secondary_subject_name(subject_id:) %></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if action_link.present? %>
      <% row.with_action(
        text: t(".change"),
        href: action_link,
        visually_hidden_text: t(".subject"),
        classes: ["govuk-link--no-visited-state"],
      ) %>
    <% end %>
  <% end %>
<% end %>
