<%# locals: { placement_details: nil, action_link: nil } -%>
<%= govuk_summary_list(html_attributes: { id: "send_placements" }, actions: action_link.present?) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".key_stage")) %>
    <% row.with_value do %>
      <%= govuk_list do %>
        <% placement_details.dig("key_stage_selection", "key_stages").each do |key_stage| %>
          <% if key_stage == AddHostingInterestWizard::UNKNOWN_OPTION %>
            <li><%= t(".unknown") %></li>
          <% else %>
            <li><%= t("placement_preferences.placement_details.send_placements_list.key_stages.#{key_stage}") %></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if action_link.present? %>
      <% row.with_action(
        text: t(".change"),
        href: action_link,
        visually_hidden_text: t(".key_stage"),
        classes: ["govuk-link--no-visited-state"],
      ) %>
    <% end %>
  <% end %>
<% end %>
