<%= content_for :page_title, "Admin dashboard" %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Admin dashboard</h1>

      <%= govuk_link_to("Mission control job dashboard", mission_control_jobs_path) %>
    </div>
  </div>
</div>
