<%= content_for :page_title, "Placement preferences" %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= organisation.name %></span>
      <h1 class="govuk-heading-l">Placement preferences</h1>

      <p class="govuk-body">Coming soon!</p>
    </div>
  </div>
</div>
