// Using @use to import govuk-frontend styles and mixins under the "govuk" namespace
// https://sass-lang.com/documentation/at-rules/use/#choosing-a-namespace
@use "govuk";

.app-filter {
  background-color: govuk.govuk-colour("light-grey");
}

.app-filter-layout {
  background-color: govuk.govuk-colour("light-grey");
  @include govuk.govuk-clearfix;
}

.app-filter-layout__filter:focus {
  outline: govuk.$govuk-focus-width solid govuk.$govuk-focus-colour;
  outline-offset: 0;

  @include govuk.govuk-media-query(desktop) {
    outline: none;
  }
}

@include govuk.govuk-media-query($until: desktop) {
  .js-enabled .app-filter-layout__filter {
    background-color: govuk.govuk-colour("light-grey");
    position: fixed; top: govuk.govuk-spacing(1); right: govuk.govuk_spacing(1); bottom: govuk.govuk_spacing(1);
    overflow-y: scroll;
    z-index: 100;
  }
}

.app-filter-layout__content {
  overflow: hidden;
  overflow-x: auto;
  background-color: govuk.govuk-colour("light-grey");
}

.app-filter__header {
  background-color: govuk.govuk-colour("light-grey");
  display: flex;
  justify-content: space-between;
  padding: govuk.govuk-spacing(2) govuk.govuk-spacing(3);
  position: sticky;
  top: 0;
  z-index: 10;

  [class^=govuk-heading-] {
    margin-bottom: 0;
  }

  @include govuk.govuk-media-query($from: desktop) {
    position: static;
  }
}

// JavaScript
.app-filter__legend {
  overflow: visible; // Override govuk to allow for focus style to be seen
  width: 100%;

  button {
    @include govuk.govuk-font($size: 24, $weight: bold);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0;
    border: 0 none;
    cursor: pointer; // Adam would not approve
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-appearance: none;

    // Fix unwanted button padding in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &::after {
      background-image: ("icon-toggle-plus-minus.svg");
      // Using specific px values for icon
      background-position: 0 0;
      content: "";
      display: block;
      height: 16px;
      margin-top: -8px; // Half the height of the icon
      position: absolute; top: 50%; right: 0;
      width: 16px;
    }

    &[aria-expanded="true"] {
      &::after {
        background-position: 16px 16px;
      }
    }
  }
}

.app-filter__header-title,
.app-filter__header-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.app-filter__close {
  @include govuk.govuk-font(19);

  color: govuk.govuk-colour("black");
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;

  &:focus {
    background-color: govuk.$govuk-focus-colour;
    color: govuk.$govuk-focus-text-colour;
    box-shadow: 0 -2px govuk.$govuk-focus-colour, 0 4px govuk.$govuk-focus-text-colour;
    outline: none;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &::before {
    background-image: url("icon-close-cross-black.svg");
    // Using specific px values for icons.
    content: '';
    display: inline-block;
    height: 14px;
    margin-right: govuk.govuk-spacing(1);
    position: relative;
    top: -1px; // Alignment tweak
    vertical-align: middle;
    width: 14px;
  }
}

.app-filter-layout__selected {
  background-color: govuk.govuk-colour("light-grey");
  padding: govuk.govuk-spacing(1);
  padding-bottom: govuk.govuk-spacing(5);
  margin: govuk.govuk-spacing(2);
  border-top: 1px solid govuk.govuk-colour("mid-grey");
  border-bottom: 1px solid govuk.govuk-colour("mid-grey");

  ul:last-of-type {
    margin-bottom: 0; // IE9 +
  }
}

.app-filter__selected-heading {
  font-size: 0; // Hide whitespace between elements
  text-align: justify; // Trick to remove the need for floats

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.app-filter__heading-title,
.app-filter__heading-action {
  padding-top: govuk.govuk-spacing(3);
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.app-filter-tags {
  font-size: 0;
  margin-bottom: govuk.govuk-spacing(2); // Needs to adjust to 15px on mobile
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: govuk.govuk-spacing(1);
  }
}

.app-filter__tag {
  @include govuk.govuk-font(16);
  background-color: govuk.govuk-colour("white");
  border: 1px solid govuk.govuk-colour("black");
  color: govuk.govuk-colour("black");
  display: inline-block;
  margin-top: govuk.govuk-spacing(1);
  padding: govuk.govuk-spacing(1);
  text-decoration: none;

  &:link,
  &:visited {
    color: govuk.govuk-colour("black");
  }

  &:focus {
    color: govuk.$govuk-focus-text-colour;
    background-color: govuk.$govuk-focus-colour;
  }

  &:hover {
    background-color: govuk.govuk-colour("black");
    color: govuk.govuk-colour("white");
  }

  &:after {
    background-image: url("icon-tag-remove-cross.svg");
    content: '';
    display: inline-block;
    font-weight: bold;
    height: govuk_spacing(2);
    margin-left: govuk.govuk-spacing(1);
    vertical-align: middle;
    width: govuk_spacing(2);
  }

  &:hover:after {
    background-image: url("icon-tag-remove-cross-white.svg");
  }
}

.app-filter__options {
  margin-top: -1px;
  padding: govuk.govuk-spacing(4) govuk.govuk-spacing(3);

  div:last-of-type {
    margin-bottom: 0; // IE9 +
  }

  .govuk-checkboxes__label,
  .govuk-radios__label {
    @include govuk.govuk-font(16);

    &::before {
      background-color: govuk.govuk-colour("white");
    }
  }
}

.app-filter__option .govuk-checkboxes {
  position: relative;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: govuk.govuk-spacing(2);
}

.app-filter__option input[type=search] {
  background: url("icon-magnifying-glass.svg") no-repeat;
  background-color: govuk.govuk-colour("white");
  padding-left: govuk.govuk-spacing(6);
}

.app-filter__option:not(:last-of-type) {
  border-bottom: 1px solid govuk.$govuk-border-colour;
  margin-bottom: govuk.govuk-spacing(4);

  div:last-of-type {
    margin-bottom: govuk.govuk-spacing(1);
  }
}

@include govuk.govuk-media-query(desktop) {
  .display-initial {
    display: initial;
  }

  .app-filter__close {
    display: none;
  }

  .show-filter-button {
    display: none;
  }
}

@include govuk.govuk-media-query($until: desktop) {
  .display-none-on-mobile {
    display: none;
  }
}
