// Using @use to import govuk-frontend styles and mixins under the "govuk" namespace
// https://sass-lang.com/documentation/at-rules/use/#choosing-a-namespace
@use "govuk";

.search-form {
  display: flex;
}

.search-form .govuk-form-group{
  flex: 1;
}

.search-form button {
  margin-top: auto;
  top: -2px;
  margin-bottom: 0;
  margin-left: govuk.govuk-spacing(2);
}

.clear-search {
  margin-top: -20px;
}

@include govuk.govuk-media-query($until: desktop) {
  .search-form {
    display: block;
  }

  .search-form button {
    margin-left: 0;
    margin-top: govuk.govuk-spacing(2);
  }
}
