<%= content_for :page_title, "Change organisation" %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change organisation</h1>


      <% if schools.exists? %>
        <h2 class="govuk-heading-m">Schools</h2>

        <%= govuk_summary_list do |summary_list| %>
          <% schools.each do |school| %>

            <% summary_list.with_row do |row| %>
              <% row.with_key(text: school.name) %>
              <% row.with_action(text: "Change",
                                 href: change_organisation_update_organisation_path(school.id),
                                 visually_hidden_text: school.name,
                                 classes: ["govuk-link--no-visited-state"]) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if providers.exists? %>
        <h2 class="govuk-heading-m">Providers</h2>

        <%= govuk_summary_list do |summary_list| %>
          <% providers.each do |provider| %>

            <% summary_list.with_row do |row| %>
              <% row.with_key(text: provider.name) %>
              <% row.with_action(text: "Change",
                                 href: change_organisation_update_organisation_path(provider.id),
                                 visually_hidden_text: provider.name,
                                 classes: ["govuk-link--no-visited-state"]) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
